@font-face {
font-family:Goldman Sans;
src: url(fonts/goldmanSansLight.woff2);
font-weight:300
}

@font-face {
font-family:Goldman Sans;
src: url(fonts/goldmanSansBook.woff2);
font-weight:400
}

@font-face {
font-family:Goldman Sans;
src: url(fonts/goldmanSansMedium.woff2);
font-weight:500
}

@font-face {
font-family:Goldman Sans;
src: url(fonts/goldmanSansBlack.woff2);
font-weight:600
}
